[__ngdpbase API v1.5.0__](../../../../../README.md)

***

[ngdpbase API](../../../../../README.md) / [src/parsers/dom/DOMParser](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/parsers/dom/DOMParser.ts:108](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/parsers/dom/DOMParser.ts#L108)

Validation result

## Properties

### errors

> __errors__: [`ErrorInfo`](ErrorInfo.md)[]

Defined in: [src/parsers/dom/DOMParser.ts:112](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/parsers/dom/DOMParser.ts#L112)

Parse errors

***

### valid

> __valid__: `boolean`

Defined in: [src/parsers/dom/DOMParser.ts:110](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/parsers/dom/DOMParser.ts#L110)

Whether the content is valid

***

### warnings

> __warnings__: [`WarningInfo`](WarningInfo.md)[]

Defined in: [src/parsers/dom/DOMParser.ts:114](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/parsers/dom/DOMParser.ts#L114)

Parse warnings
