[__ngdpbase API v1.5.0__](../../../../README.md)

***

[ngdpbase API](../../../../README.md) / [src/utils/final-validation](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/utils/final-validation.ts:21](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/utils/final-validation.ts#L21)

Validation result for a single page

## Properties

### error?

> `optional` __error__: `string`

Defined in: [src/utils/final-validation.ts:23](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/utils/final-validation.ts#L23)

***

### metadata?

> `optional` __metadata__: [`PageMetadata`](PageMetadata.md)

Defined in: [src/utils/final-validation.ts:24](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/utils/final-validation.ts#L24)

***

### valid

> __valid__: `boolean`

Defined in: [src/utils/final-validation.ts:22](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/utils/final-validation.ts#L22)
