[__ngdpbase API v5.43.0__](../../../../README.md)

***

[ngdpbase API](../../../../README.md) / [parsers/handlers/BaseSyntaxHandler](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: src/parsers/handlers/BaseSyntaxHandler.ts:76

Parameter validation result

## Properties

### errors

> __errors__: `string`[]

Defined in: src/parsers/handlers/BaseSyntaxHandler.ts:78

***

### isValid

> __isValid__: `boolean`

Defined in: src/parsers/handlers/BaseSyntaxHandler.ts:77

***

### params

> __params__: `Record`\<`string`, `unknown`\>

Defined in: src/parsers/handlers/BaseSyntaxHandler.ts:79
