[__ngdpbase API v5.43.0__](../../../README.md)

***

[ngdpbase API](../../../README.md) / [managers/ValidationManager](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: src/managers/ValidationManager.ts:25

Validation result interface

## Extended by

- [`MetadataValidationResult`](MetadataValidationResult.md)

## Properties

### error

> __error__: `string` \| `null`

Defined in: src/managers/ValidationManager.ts:27

***

### success

> __success__: `boolean`

Defined in: src/managers/ValidationManager.ts:26
