[__ngdpbase API v5.43.0__](../../../README.md)

***

[ngdpbase API](../../../README.md) / [utils/final-validation](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: src/utils/final-validation.ts:21

Validation result for a single page

## Properties

### error?

> `optional` __error?__: `string`

Defined in: src/utils/final-validation.ts:23

***

### metadata?

> `optional` __metadata?__: [`PageMetadata`](PageMetadata.md)

Defined in: src/utils/final-validation.ts:24

***

### valid

> __valid__: `boolean`

Defined in: src/utils/final-validation.ts:22
