[__ngdpbase API v1.5.0__](../../../../README.md)

***

[ngdpbase API](../../../../README.md) / [src/managers/ValidationManager](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/managers/ValidationManager.ts:19](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/managers/ValidationManager.ts#L19)

Validation result interface

## Extended by

- [`MetadataValidationResult`](MetadataValidationResult.md)

## Properties

### error

> __error__: `string` \| `null`

Defined in: [src/managers/ValidationManager.ts:21](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/managers/ValidationManager.ts#L21)

***

### success

> __success__: `boolean`

Defined in: [src/managers/ValidationManager.ts:20](https://github.com/jwilleke/ngdpbase/blob/b6a859c7c9297966de89735ea5e8f953df289ac1/src/managers/ValidationManager.ts#L20)
