[__ngdpbase API v5.43.0__](../../../../README.md)

***

[ngdpbase API](../../../../README.md) / [parsers/dom/DOMParser](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: src/parsers/dom/DOMParser.ts:108

Validation result

## Properties

### errors

> __errors__: [`ErrorInfo`](ErrorInfo.md)[]

Defined in: src/parsers/dom/DOMParser.ts:112

Parse errors

***

### valid

> __valid__: `boolean`

Defined in: src/parsers/dom/DOMParser.ts:110

Whether the content is valid

***

### warnings

> __warnings__: [`WarningInfo`](WarningInfo.md)[]

Defined in: src/parsers/dom/DOMParser.ts:114

Parse warnings
